@theme inline {
  --color-milkoutside-storm-bg: oklch(from #24283b l c h);
  --color-milkoutside-storm-bg-dark: oklch(from #1f2335 l c h);
  --color-milkoutside-storm-bg-dark1: oklch(from #1b1e2d l c h);
  --color-milkoutside-storm-bg-float: var(--color-milkoutside-storm-bg-dark);
  --color-milkoutside-storm-bg-highlight: oklch(from #292e42 l c h);
  --color-milkoutside-storm-bg-popup: var(--color-milkoutside-storm-bg-dark);
  --color-milkoutside-storm-bg-search: var(--color-milkoutside-storm-blue0);
  --color-milkoutside-storm-bg-sidebar: var(--color-milkoutside-storm-bg-dark);
  --color-milkoutside-storm-bg-statusline: var(--color-milkoutside-storm-bg-dark);
  --color-milkoutside-storm-bg-visual: oklch(from #394b70 l c h);
  --color-milkoutside-storm-black: oklch(from ${black} l c h);
  --color-milkoutside-storm-black-bright: oklch(from #545c7e l c h);
  --color-milkoutside-storm-blue: oklch(from #7aa2f7 l c h);
  --color-milkoutside-storm-blue-bright: oklch(from #2ac3de l c h);
  --color-milkoutside-storm-blue0: oklch(from #3d59a1 l c h);
  --color-milkoutside-storm-blue1: oklch(from #2ac3de l c h);
  --color-milkoutside-storm-blue2: oklch(from #0db9d7 l c h);
  --color-milkoutside-storm-blue5: oklch(from #89ddff l c h);
  --color-milkoutside-storm-blue6: oklch(from #b4f9f8 l c h);
  --color-milkoutside-storm-blue7: oklch(from #394b70 l c h);
  --color-milkoutside-storm-border: var(--color-milkoutside-storm-black);
  --color-milkoutside-storm-border-highlight: oklch(from ${border_highlight} l c h);
  --color-milkoutside-storm-comment: oklch(from #565f89 l c h);
  --color-milkoutside-storm-cyan: oklch(from #7dcfff l c h);
  --color-milkoutside-storm-cyan-bright: oklch(from #0db9d7 l c h);
  --color-milkoutside-storm-dark3: oklch(from #545c7e l c h);
  --color-milkoutside-storm-dark5: oklch(from #737aa2 l c h);
  --color-milkoutside-storm-diff-add: oklch(from #2a3f51 l c h);
  --color-milkoutside-storm-diff-change: oklch(from #303a55 l c h);
  --color-milkoutside-storm-diff-delete: oklch(from #3a2f40 l c h);
  --color-milkoutside-storm-diff-text: var(--color-milkoutside-storm-blue7);
  --color-milkoutside-storm-error: var(--color-milkoutside-storm-red1);
  --color-milkoutside-storm-fg: oklch(from #c0caf5 l c h);
  --color-milkoutside-storm-fg-dark: oklch(from #a9b1d6 l c h);
  --color-milkoutside-storm-fg-float: var(--color-milkoutside-storm-fg);
  --color-milkoutside-storm-fg-gutter: oklch(from #3b4261 l c h);
  --color-milkoutside-storm-fg-sidebar: var(--color-milkoutside-storm-fg-dark);
  --color-milkoutside-storm-git-add: oklch(from #449dab l c h);
  --color-milkoutside-storm-git-change: oklch(from #6183bb l c h);
  --color-milkoutside-storm-git-delete: oklch(from #914c54 l c h);
  --color-milkoutside-storm-git-ignore: var(--color-milkoutside-storm-dark3);
  --color-milkoutside-storm-green: oklch(from #9ece6a l c h);
  --color-milkoutside-storm-green-bright: oklch(from #73daca l c h);
  --color-milkoutside-storm-green1: oklch(from #73daca l c h);
  --color-milkoutside-storm-green2: oklch(from #41a6b5 l c h);
  --color-milkoutside-storm-hint: var(--color-milkoutside-storm-teal);
  --color-milkoutside-storm-info: var(--color-milkoutside-storm-blue2);
  --color-milkoutside-storm-magenta: oklch(from #bb9af7 l c h);
  --color-milkoutside-storm-magenta-bright: oklch(from #ff007c l c h);
  --color-milkoutside-storm-magenta2: oklch(from #ff007c l c h);
  --color-milkoutside-storm-orange: oklch(from #ff9e64 l c h);
  --color-milkoutside-storm-purple: oklch(from #9d7cd8 l c h);
  --color-milkoutside-storm-rainbow1: var(--color-milkoutside-storm-blue);
  --color-milkoutside-storm-rainbow2: var(--color-milkoutside-storm-yellow);
  --color-milkoutside-storm-rainbow3: var(--color-milkoutside-storm-green);
  --color-milkoutside-storm-rainbow4: var(--color-milkoutside-storm-teal);
  --color-milkoutside-storm-rainbow5: var(--color-milkoutside-storm-magenta);
  --color-milkoutside-storm-rainbow6: var(--color-milkoutside-storm-purple);
  --color-milkoutside-storm-rainbow7: var(--color-milkoutside-storm-orange);
  --color-milkoutside-storm-rainbow8: var(--color-milkoutside-storm-red);
  --color-milkoutside-storm-red: oklch(from #f7768e l c h);
  --color-milkoutside-storm-red-bright: oklch(from #db4b4b l c h);
  --color-milkoutside-storm-red1: oklch(from #db4b4b l c h);
  --color-milkoutside-storm-teal: oklch(from #1abc9c l c h);
  --color-milkoutside-storm-todo: var(--color-milkoutside-storm-blue);
  --color-milkoutside-storm-warning: var(--color-milkoutside-storm-yellow);
  --color-milkoutside-storm-yellow: oklch(from #e0af68 l c h);
  --color-milkoutside-storm-yellow-bright: oklch(from #ff9e64 l c h);
}