// MilkOutside Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    milkoutside {
        fg "#e8e8e8"
        bg "#040607"
        // Black should match terminal background color
        // This ensures that top and bottom bars are transparent
        black "#000000"
        red "#fda1a0"
        green "#92cf9c"
        yellow "#ffad00"
        blue "#63c3dd"
        magenta "#e79cfb"
        cyan "#63c3dd"
        white "#e8e8e8"
        orange "#ffad00"
    }