name: CI

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  ci:
    uses: color-schemes/github/.github/workflows/ci.yml@main
    secrets: inherit
    with:
      plugin: milkoutside.nvim
      repo: color-schemes/milkoutside.nvim
