name: Stale Issues & PRs

on:
  schedule:
    - cron: "30 1 * * *"

jobs:
  stale:
    if: contains(fromJSON('["color-schemes", "LazyVim"]'), github.repository_owner)
    uses: color-schemes/github/.github/workflows/stale.yml@main
    secrets: inherit
