name: Update Repo

on:
  workflow_dispatch:
  schedule:
    # Run every hour
    - cron: "0 * * * *"

jobs:
  update:
    if: contains(fromJSON('["color-schemes", "LazyVim"]'), github.repository_owner)
    uses: color-schemes/github/.github/workflows/update.yml@main
    secrets: inherit
